<h1>Liste des élèves</h1>

<%= flash[:success] %><br><br>

<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Voir Profil</th>
      <th>Éditer</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name.upcase %></td>
        <td><%= link_to "Voir", student_path(student)%></td>
        <td><%= link_to "Éditer", edit_student_path(student) %></td>
        <td><%= link_to 'Supprimer', student_path(student), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
