<h1>Créer une nouvelle séance</h1>

<%=  form_for @work_session, url: {action: "create"} do |f| %>

  <%= f.label :'Nom de la séance' %>
  <%= f.text_field :title %><br><br>

  <%= f.date_select :date, order: [:day, :month, :year] %><br><br>

  <%= f.collection_check_boxes :skill_ids, @skills.order(:name), :id, :name do |b| %>
    <%=  b.label(class:"skills_checkbox") {b.check_box + b.text} %>
  <% end %><br><br>

  <%= f.collection_radio_buttons(:slot_id, @slots.order(:title), :id, :title) do |b| %>
    <%=  b.label(class:"slots_radio_button") {b.radio_button + b.text} %>
  <% end %><br><br>

  <%= f.collection_check_boxes(:teacher_ids, @teachers.order(:last_name), :id, :first_and_last_name) do |b| %>
    <%=  b.label(class:"teachers_checkbox") {b.check_box + b.text} %>
  <% end %><br><br>

  <%= f.collection_check_boxes(:student_ids, @students.order(:last_name), :id, :first_and_last_name) do |b| %>
    <%=  b.label(class:"students_checkbox") {b.check_box + b.text} %>
  <% end %><br><br>

  <%= f.submit %>
<% end %>
