<h1>Séance: <%= @work_session.title %></h1><br>
<h2>Compétences:</h2>
<% @work_session.skills.each do |skill|%>
  <%= skill.name %><br>
<% end %><br><br>
<h3>Date: <%= @work_session.date %></h3>
<h3>Créneau:</h3>
<%= @work_session.slot.title %><br><br>
<h3>Profs:</h3>
<% @work_session.teachers.each do |teacher|%>
  <%= teacher.first_and_last_name %><br>
<% end %><br><br>
<h3>Liste d'élèves:</h3>
<% @work_session.students.each do |student|%>
  <%= student.first_and_last_name %><br>
<% end %><br><br>
