<h1>Liste des professeurs</h1>

<%= flash[:success] %><br><br>

<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Matière</th>
      <th>Éditer</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <%@teachers.each do |teacher|%>
    <tr>
      <td><%=teacher.first_name%></td>
      <td><%=teacher.last_name.upcase%></td>
      <td><%=teacher.subject%></td>
      <td><%= link_to "Éditer", edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Supprimer', teacher_path(teacher), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
    </tr>
    <%end%>
  </tbody>
</table>

<br>
<%= raw pagy_nav(@pagy) %>
<br><br>