<ul>
  <li class="navleft"><%= link_to "Créer une séance", new_work_session_path %></li>
  <li class="navleft"><%= link_to "Liste des séances", work_sessions_path %></li>
  <li class="navleft"><%= link_to "Liste des créneaux", slots_path %></li>
  <li class="navleft"><%= link_to "Liste des élèves", students_path %></li>
  <li class="navleft"><%= link_to "Liste des professeurs", teachers_path %></li>
  <% if user_signed_in? %>
  <li class="navright"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
    <li class="navright"><%= link_to "Modifier mes informations", edit_user_registration_path %></li>
  <% else %>
    <li class="navright"><%= link_to "Se connecter", new_user_session_path %></li>
    <li class="navright"><%= link_to "S'inscrire", new_user_registration_path %></li>
  <% end %>
</ul>
